name: Build Debug

on:
  push:
    branches: ["dev"]
  pull_request:
    branches: ["dev"]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      DOTNET_INSTALL_DIR: ~/.dotnet

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          filter: tree:0

      - name: Set up variables
        id: vars
        run: |
          # Extract package version from project
          version=$(grep -oP '<Version>\K[^<]+' LCVR.csproj)
          echo "version=$version" >> "$GITHUB_OUTPUT"
          echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
          
          if [ "${{ github.event_name }}" == "pull_request" ]; then
            echo "build_tag=pr-${{ github.event.pull_request.number }}" >> "$GITHUB_OUTPUT"
          else
            echo "build_tag=dev" >> "$GITHUB_OUTPUT"
          fi

      - name: Setup Dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0"

      - name: Restore NuGet packages
        run: dotnet restore

      - name: Build app
        run: dotnet build

      - name: Configure GPG Key
        if: github.event_name == 'push' # Pull requests do not have access to the PGP signature
        run: |
          echo -n "$GPG_SIGNING_KEY" | base64 --decode | gpg --import
        env:
          GPG_SIGNING_KEY: ${{ secrets.GPG_SIGNING_KEY }}

      - name: Prepare and bundle package
        run: |
          # Set up template
          mkdir package
          git --work-tree=./package checkout origin/thunderstore ./

          # Copy and sign debug binaries
          cp bin/Debug/netstandard2.1/LCVR.dll ./package/BepInEx/plugins/LCVR/
          cp bin/Debug/netstandard2.1/LCVR.Preload.dll ./package/BepInEx/patchers/LCVR/
          
          # Only sign if this build is triggered by a push
          if [ "${{ github.event_name }}" = "push" ]; then
            gpg --output ./package/BepInEx/plugins/LCVR/LCVR.dll.sig --detach-sig ./package/BepInEx/plugins/LCVR/LCVR.dll
            gpg --output ./package/BepInEx/patchers/LCVR/LCVR.Preload.dll.sig --detach-sig ./package/BepInEx/patchers/LCVR/LCVR.Preload.dll
          fi

          # Move assets
          mv ./package/lethalcompanyvr ./package/BepInEx/plugins/LCVR/lethalcompanyvr
          mv ./package/lethalcompanyvr-levels ./package/BepInEx/plugins/LCVR/lethalcompanyvr-levels

          # Copy docs and license
          cp CHANGELOG.md ./package/CHANGELOG.md
          cp Docs/Thunderstore/README.md ./package/README.md
          cp LICENSE ./package/LICENSE

          # Update Thunderstore manifest
          jq '.version_number = "${{ steps.vars.outputs.version }}"' ./package/manifest.json > ./package/manifest_new.json
          mv ./package/manifest_new.json ./package/manifest.json

      - name: Upload build artifacts
        if: github.event_name == 'push'
        uses: actions/upload-artifact@v4
        with:
          name: LCVR-${{ steps.vars.outputs.version }}-${{ steps.vars.outputs.build_tag }}-${{ steps.vars.outputs.sha_short }}
          path: ./package
